{% extends "main.html" %}


{% block body %}
		<div class="well well-large" id="error" style="padding-left:100px;padding-bottom:50px">
            <h1>Oh geez <span>:(</span></h1>
        </br>
    </br>
            <h5>Sorry, but the page you were trying to view does not exist.</h5>
            <h5>It looks like this was the result of either:</h5>
            <ul>
                <li>a mistyped address</li>
                <li>you're looking for something that doesn't exist</li>
                <li>the universe is against you</li>
                <li>incompetent but well-intentioned humans</li>
            </ul>
            <h5>More than likely, it's the last one. And that means us. A thousand apologies.</h5>

{% endblock %}

{% block styles %}{% endblock %}
