{% extends 'layout.html' %}

{% block js %}
{% endblock %}

{% block body %}
	<!--TITLE-->
	<div class="well well-large" id="share-well">	
		<h2 style="margin-left:8%">Share a Sandwich</h2>  
    </div>

	<!--MAIN INFO-->
	<div class="row-fluid">
	<div class="span10 offset1">
		<form method="POST" action="/share" enctype="multipart/form-data">
			
			<div class="span4 offset1">
				<img src="/static/img/photo_placeholder.png"/>
				</br>
				</br>
				<label for="uploadfield" id="upload_label">Add an image:</label>
				<input type="file" id="fileupload" name="fileupload">
			</div>

			<div class="span5">
				<label for="title" id="title_label">Name your creation:</label>
				<input type="text" id="title" name="title" autofocus="autofocus" size="70">
	
				<label for="author">Your Name</label>
				<input type="text" id="author" name="author" size="60">
	
				<label for="descrip">Description</label>
				<textarea cols="62" rows="8" id="descrip" name="descrip"></textarea>
				</br>
				</br>

				<!--BREAD-->
				<label for="bread_type">Bread</label>
					<select name="bread_type" id="bread_type">
						<option>type...</option>
						{% for b in breads %}
							<option>{{ b.name }}</option>
						{% endfor %}
					</select>
					</br>
					</br>

				<!--BUTTER-->
				<label for="butter_type">Butter</label>
					<select name="butter_type" id="butter_type">
						<option>type...</option>
							{% for b in butters %}
								<option>{{ b.name }}</option>
							{% endfor %}
					</select>
					</br>
					</br>

				<!--INSTRUCTIONS-->
				<label for="description">Instructions</label>
				<textarea cols="62" rows="8" id="instructions" name="instructions"></textarea>
						
				<!--SUBMIT BUTTON-->
				<label>
					<button type="submit" class="btn btn-large btn-success" value="upload">Share</button>
				</label>
			</div>
		</form>
	</div>
	</div>
{% endblock %}