<html>
	<head>
		<title>B&B | Success!</title>
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
    </head>

	<body>
		<div class="span1"></div>
		<div class="well well-large" style="padding-bottom:100px">
			<div style="margin-left:10%">
				<h1>Thanks for sharing, {{sandwich.author}}!</h1>
				<h2>Mmmm...can't wait to try {{ sandwich.title }}.</h2>
				<div class="span1 offset10">
					<a href="/" class="btn btn-primary">Home</a>
				</div>
			</div>
		</div>
	</body>

</html>